<div class="current-user">
  <div class="standings">
    <div class="current-user-info">
      <h3>{{currentUser.userName}}</h3>
      <h2>${{currentUser.ownerTotal}}</h2>
    </div>
    <div class="leaderboard">
      <h3 id='leaderboard-header'>Leaderboard</h3>
      <ol>
        {{#each leaders}}
          <li>{{this.username}}&nbsp ${{this.total}}M</li>
        {{/each}}
      </ol>
    </div>
  </div>
  <div class="owned-movies">
    {{#each currentUser.movies}}
    <div class="owned-movie">
      <h4>{{this.title}}</h4>
      <div class="owned-movie-money">
        <p>${{this.total}}</p>
        {{#if this.perDollar}}
          <p class='per-dollar'>{{this.perDollar}}M/$</p>
        {{/if}}
      </div>
    </div>
    {{/each}}
  </div>
</div>
<div class="owners">
  {{#each owners}}
  {{#if this.movies.[0].owner}}
    <div class="owner">
      <div class="owner-info">
        <h3 class="owner-name">{{this.movies.[0].owner}}</h3>
        <h4 class="owner-total">${{this.ownerTotal}}</h4>
      </div>
      <div class="movies">
        {{#each this.movies}}
          <div class="movie">
            <h4 class="movie-title">{{this.title}}</h4>
            <h4>${{this.total}}</h4>
          </div>
        {{/each}}
      </div>
    </div>
    {{/if}}
  {{/each}}
  {{#each owners}}
  {{#unless this.movies.[0].owner}}
    <div class="owner">
      <h3 class="owner-name">Free Agents</h3>
      <div class="movies">
        {{#each this.movies}}
          <div class="movie">
            <h4>{{this.title}}</h4>
            <h4>${{this.total}}</h4>
          </div>
        {{/each}}
      </div>
    </div>
    {{/unless}}
  {{/each}}

</div>
